$color-primario: #313940;
$color-secundario: rgb(116, 7, 7);
$home: linear-gradient(
  180deg,
  rgba(0, 0, 0, 1) 0%,
  rgba(154, 20, 20, 1) 66%,
  rgba(235, 40, 61, 1) 96%
);
$lista: (url(../imagenes/fondo-ayuda-4.jpg), ayuda),
  (url(../imagenes/fondo-acceder.jpg), acceder);
$size-primario: 2.5rem;

@import "custom";
@import "mixin-each";
@import "global";
@import "./paginas/home";
@import "./paginas/faq";
@import "./paginas/ayuda";
@import "./paginas/acceder";
@import "./paginas/error";
